<%= render "navegacion/navbar"%>


<div class="books-page">
  <div class="container">
    <% if can? :create, User %>
      <div class="text-right"><%= link_to "Agregar Usuario", new_user_path, class: "btn btn-outline-primary rounded-0" %>
      </div>
    <%end%>
    <h3> USUARIOS </h3>

    <%= form_tag(users_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Apellido o DNI" %>
      <%= submit_tag "Buscar" %>
    <% end %>



    <% @users.each do |user| %>
    <div class="card border-dark mb-3" style="max-width: 50rem;margin-top: 1em">
        <div class="card-header">
          <h4 class="card-title">
           Usuario ID#<%= user.id %> <strong> <%= user.last_name %> <%= user.first_name %> </strong>
          </h4>
          <h5>Tipo de Usuario: <strong><%= user.role %></strong></h5></div>
      <div class="card-body text-dark">
          <p class="card-text"><%= user.email%></p>
          <%= link_to "Detalles", user, class: "btn btn-info" %>

          <% if can? :edit, User %>
           <%= link_to "Editar", edit_user_path(user), class: "btn btn-secondary" %>
          <% end %>
          <% if can? :edit, User %>
            <%= link_to "Eliminar", user, class: "btn btn-danger", method: :delete, data: { confirm: "¿Estás seguro de eliminar este usuario?" } %>
          <% end %>

        </div>
    </div>
    <% end %>
  </div>
</div>
