<div class="book-page">
  <div class="container">
    <%= link_to "&larr; Volver".html_safe, users_path, class: "btn btn-link" %>

    <header class="main">
      <h2>Detalles del Usuario</h2>
    </header>

    <div class="book d-flex flex-sm-row align-items-center align-items-sm-start">
   
      <div class="book-details">
        
        <dl>
          <dt>ID</dt>
          <dd><%= @user.id %></dd>
          <dt>Apellido</dt>
          <dd><%= @user.last_name %></dd>
          <dt>Nombre</dt>
          <dd><%= @user.first_name %></dd>
          <dt>DNI</dt>
          <dd><%= @user.dni %></dd>
          <dt>Email</dt>
          <dd><%= @user.email %></dd>
          <dt>Teléfono</dt>
          <dd><%= @user.telephone %></dd>
          <dt>Tipo de Usuario</dt>
          <dd><%= @user.role %></dd>
        </dl>
        
      </div>
    </div>
  </div>
</div>
