<div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-5">
        <div class="card mt-5 mb-2">
          <div class="card-header">Iniciar Sesión
          </div>
          <div class="card-body">

            <%= form_for(:session, url: login_path) do |f| %>
              <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, class: "form-control", autofocus: true %>
              </div>

              <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
              </div>


              <div class="text-right">
                <%= f.submit "Ingresar", class: "btn btn-outline-success" %>
              </div>
            <% end %>
          </div>
        </div>


      </div>
    </div>
  </div>
