
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-5">
      <div class="card mt-5">
        <% if @book.new_record? %>
          <div class="card-header font-weight-bold">Agregar Libro</div>
        <% else %>
          <div class="card-header font-weight-bold">Editar Libro</div>
        <% end %>
          <%= form_for @book do |f| %>
          <div class="card-body">
             <div class="form-group">
              <%= f.label :Isbn %>
              <%= f.number_field :isbn, class: "form-control", autofocus: true %>
            </div>
            <div class="form-group">
              <%= f.label :Titulo %>
              <%= f.text_field :name, class: "form-control", autofocus: true %>
            </div>
            <div class="form-group">
              <%= f.label :Autor %>
              <%= f.text_field :author, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :Fecha_de_publicacion %>
              <%= f.date_field :published_at, class: "form-control" %>
            </div>

            <% unless @book.new_record? %>
             <div class="form-group">
              <%= f.label :Estado %><br>
              <%= f.select(:state, options_for_select(([[ 'Disponible', 'available'] , [ 'Prestado','loaned']]), @book.state))%>
              </div>
            <% end %>


          </div>
          <div class="card-footer text-right">
            <%= link_to "Cancelar", books_path, class: "btn btn-outline-dark" %>
            <% if @book.new_record? %>
              <%= f.submit "Crear Libro" , class: "btn btn-success" %>
            <% else %>
              <%= f.submit "Guardar Cambios" , class: "btn btn-success" %>
            <% end %>
          </div>
          <% end %>
      </div>
    </div>
  </div>
