<%= render "navegacion/navbar"%>

<div class="books-page">
  <div class="container">
    <% if can? :create, Book %>
      <div class="text-right"><%= link_to "Agregar Libro", new_book_path, class: "btn btn-outline-primary rounded-0" %>
      </div>
    <% end %>
    <br></br>
    <h3> LIBROS </h3>

    <%= form_tag(books_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Nombre o Autor" %>
      <%= submit_tag "Buscar" %>
    <% end %>


    <% @books.each do |book| %>
    <div class="card border-dark mb-3" style="max-width: 50rem;margin-top: 1em">
      <div class="card-header"><h4><strong><%= book.name %></strong></h4>
        <h5><%= book.author %></h5></div>
      <div class="card-body text-dark">
        <h5 class="card-title"><%= book.available%></h5>

        <%= link_to "Detalles", book, class: "btn btn-info" %>
      <% if can? :edit, book %>
        <%= link_to "Editar", edit_book_path(book), class: "btn btn-secondary" %>
      <% end %>
       <% if can? :delete, book %>
      <%= link_to "Eliminar", book, class: "btn btn-danger", method: :delete, data: { confirm: "¿Estás seguro de eliminar este libro?" } %>
      <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
