<div class="book-page">
  <div class="container">
    <%= link_to "&larr; Volver".html_safe, books_path, class: "btn btn-link" %>

    <header class="main">
      <h2>Detalles del libro</h2>
    </header>

    <div class="book d-flex flex-sm-row align-items-center align-items-sm-start">

      <div class="book-details">

        <dl>
          <dt>ISBN</dt>
          <dd><%= @book.isbn %></dd>
          <dt>Nombre</dt>
          <dd><%= @book.name %></dd>
          <dt>Autor</dt>
          <dd><%= @book.author %></dd>
          <dt>Fecha de publicación</dt>
          <dd><%= @book.published_at %></dd>
          <dt>Disponibilidad</dt>
          <dd><%= @book.available %></dd>
        </dl>

      </div>
    </div>
  </div>
</div>
