<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="card mt-5">
          <% if @loan.new_record? %>
            <div class="card-header font-weight-bold">Crear Préstamo</div>
          <% else %>
            <div class="card-header font-weight-bold">Guardar Cambios</div>
          <% end %>
            <%= form_for @loan do |f| %>
              <div class="card-body">
                 <div class="form-group">
                  <%= f.label :DNI_usuario %>
                  <%= f.select(:user_id, options_for_select(([nil]+User.all.pluck(:dni, :id)), @loan.user_id))%>
                </div>
                <div class="form-group">
                  <%= f.label :Nombre_libro %>
                  <%= f.select(:book_id, options_for_select(([nil]+Book.all.pluck(:name, :id)), @loan.book_id))%>
                </div>
                <div class="form-group">
                  <%= f.label :Desde %>
                  <%= f.date_field :initiation_date, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :Hasta %>
                  <%= f.date_field :final_date, class: "form-control" %>
                </div>


                <% unless @loan.new_record? %>
                 <div class="form-group">
                  <%= f.label :Estado %><br>
                  <%= f.select(:state, options_for_select(([[ 'Activo', 'actived'] , [ 'Expirado','expired'] , [ 'Finalizado', 'finished']]), @loan.state))%>
                  </div>
                <% end %>

              </div>
              <div class="card-footer text-right">
                <%= link_to "Cancelar", loans_path, class: "btn btn-outline-dark" %>
                <% if @loan.new_record? %>
                  <%= f.submit "Crear Préstamo" , class: "btn btn-success" %>
                <% else %>
                  <%= f.submit "Guardar Cambios" , class: "btn btn-success" %>
                <% end %>
              </div>
            <% end %>
      </div>
    </div>
  </div>
