<%= render "navegacion/navbar"%>



<div class="books-page">
  <div class="container">
    <% if can? :create, Loan %>
      <div class="text-right"><%= link_to "Nuevo Préstamo", new_loan_path, class: "btn btn-outline-primary rounded-0" %>
      </div>
    <% end %>
    <br></br>
    <h3> PRÉSTAMOS </h3>

<!--BUSCADOR -->
    <%= form_tag(loans_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Id usuario o Estado" %>
      <%= submit_tag "Buscar" %>
    <% end %>


    <% @loans.each do |loan| %>
  <% if can? :read, loan %>
    <div class="card border-dark mb-3" style="max-width: 50rem;margin-top: 1em">
        <div class="card-header">
          <h4 class="card-title">

            Préstamo ID #<strong><%= loan.id %></strong> Estado: <strong><%= loan.estado %></strong>
            <h5><strong><%= loan.book.name %></strong></h5></div>
        <div class="card-body text-dark">
            <h6> Retirado por: <strong><%= loan.user.last_name %> <%= loan.user.first_name %></strong> | Usuario #<%= loan.user_id %></h6>
          <p class="card-text"> Vencimiento: <strong><%= loan.final_date %></strong></p>

          <%= link_to "Detalles", loan, class: "btn btn-info" %>


          <% if can? :edit, loan %>
            <%= link_to "Editar", edit_loan_path(loan), class: "btn btn-secondary" %>
          <% end %>

          <% if can? :delete, loan %>
          <%= link_to "Eliminar", loan, class: "btn btn-danger", method: :delete, data: { confirm: "¿Estás seguro de eliminar este préstamo?" } %>
          <% end %>
        </div>
    </div>
  <%end%>
    <%end%>

  </div>
</div>
