<div class="book-page">
  <div class="container">
    <%= link_to "&larr; Volver".html_safe, loans_path, class: "btn btn-black" %>

    <header class="main">
      <h2>Detalles del préstamo</h2>
    </header>

    <div class="book d-flex flex-sm-row align-items-center align-items-sm-start">

      <div class="book-details">

        <dl>
          <dt>ID de préstamo</dt>
          <dd><%= @loan.id %></dd>
          <dt>Libro</dt>
          <dd><%= @loan.book.isbn %> <%= @loan.book.name %></dd>
          <dt>Retirado por</dt>
          <dd><%= @loan.user.last_name%> <%= @loan.user.first_name %></dd>
          <dt>Desde</dt>
          <dd><%= @loan.initiation_date %></dd>
          <dt>Hasta</dt>
          <dd><%= @loan.final_date %></dd>
          <dt>Estado</dt>
          <dd><%= @loan.estado %></dd>
        </dl>

      </div>
    </div>
  </div>
</div>
