<!DOCTYPE html>
<html>
  <head>
    <title>Biblioteca</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand">
      <%=image_tag("logo.png", alt: "Example Image", size: "50x50")%>

      <strong> BIBLIOTECA VIRTUAL </strong>
    </a>
  </nav>

  <body>


      <% flash.each do | type, msg | %>
          <div class = "alert alert-danger" >
              <%= msg%>
          </div>
      <% end %>
    <%= yield %>
  </body>
</html>
